.K_select {
  position: relative;
}
.K_select .k_dropdown,
.K_select .k_dropdown_1 {
  position: absolute;
  top: 35px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  z-index: 100;
  background: #fff;
  display: none;
}
.K_select .k_dropdown li {
  box-sizing: border-box;
  padding: 6px 12px;
  border-bottom: 1px solid #cccccc;
  position: relative;
  cursor: pointer;
}
.K_select .k_dropdown li span {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  position: absolute;
  top: 14px;
  right: 6px;
}
.K_select .k_dropdown li a {
  color: #333;
  width: 150px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.K_select .k_dropdown li:last-of-type {
  border-bottom: 0;
}
.K_select .k_dropdown > li.focus > ul {
  opacity: 1;
  display: block;
}
.K_select .k_dropdown > li.focus > span {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}
.K_select .k_dropdown_1 {
  left: 174px;
  top: 32px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.K_select .k_dropdown_1 li span {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.K_select .k_dropdown_1 > li.focus > ul {
  opacity: 1;
  display: block;
  margin-top: 6px;
  height: auto;
}
.K_select .k_dropdown_1 > li.focus > span {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.K_select .k_dropdown_2 {
  background: #DFDFDF;
  border: 1px solid #cccccc;
  border-radius: 5px;
  opacity: 0;
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.K_select .k_dropdown_2 li {
  border-bottom: 0px;
  border-top: 1px solid #cccccc;
}
.K_select .k_dropdown_2 li:first-of-type {
  border: 0px;
}
