@yellow:#ffd97f;
@blue:#10f1ff;
@red:#ff8484;
@green:#48ff89;
@zs:#c898ff;
@gray:#c4c4c4;
@font-color:#fff;
@line-color: #5973b7;
@border-color:#2176ab;
.green{
  color: @green !important;
  text-shadow: 0 0 6px @green !important;
}
.transtion(@prop){
  -webkit-transition: @prop;
  -moz-transition: @prop;
  -ms-transition: @prop;
  -o-transition: @prop;
  transition: @prop;
}

.transform(@prop){
  -webkit-transform: @prop;
  -moz-transform: @prop;
  -ms-transform: @prop;
  -o-transform: @prop;
  transform: @prop;
}
body{
  background: #020619;
  .biyue-body{
    background-image: -webkit-radial-gradient(circle at top,#2c213d,#0f0e23);
    background-image: radial-gradient(circle at top,#2c213d,#0f0e23);
    position: absolute;
    left: 0;right: 0;
    bottom: 0;
    top:0;
    overflow: auto;
    .body-box{
      width: 100%;
      height: 100%;
      min-width: 1920px;
      min-height: 850px;
      position: relative;
      header.header{
        width: 100%;
        height: 80px;
        position: relative;
        background: url("../../images/monitor/bt.png") no-repeat;
        background-size: cover;
        .other{
          width: 100%;
          height: 46px;
          position: absolute;
          top:7px;
          left: 0;
          font-size: 0;
          letter-spacing: 0;
          .weather{
            width: 40%;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            background-size: 100% auto;
            position: absolute;
            left: 0;
            color: #fff;
            text-shadow: 0 0 5px #fff;
            font-size: 22px;
            letter-spacing: 2px;
            i{
              position: absolute;
              left: 20px;
              top:2px;
            }
            span{
              margin:0 6px 0 74px;
            }
          }
          .time{
            width: 40%;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            background-size: 100% auto;
            position: absolute;
            right: 0;
            color: #fff;
            text-shadow: 0 0 5px #fff;
            font-size: 22px;
            letter-spacing: 2px;
            text-align: right;
            i{
              position: absolute;
              right: 280px;
              top: -3px;
            }
            span{
              margin:0 24px 0 6px;
            }
          }
        }
        .title{
          width: 700px;
          height: 100%;
          position: relative;
          margin: auto;
          z-index: 1000;
          span{
            display: block;
            width: 100%;
            height: 100%;
            font-size: 28px;
            letter-spacing:5px;
            line-height: 70px;
            color: #69caff;
            text-shadow: 0 0 4px #69caff;

            //background: linear-gradient(to bottom, #fff, #0daaff);
            //-webkit-background-clip: text;
            //color: transparent;
            text-align: center;
            //  text-shadow: 0 0 3px #92f8ff;
          }
          i{
            display: block;
            width: 10px;
            height: 10px;
            border: 1px solid #79a3bf;
          }
          .lt{
            box-shadow: 1px 1px 1px #89bad6 inset;
            border-right: transparent;
            border-bottom: transparent;
            position: absolute;
            top:0;
            left: 0;
          }
          .rt{
            box-shadow: -1px 1px 1px #89bad6 inset;
            border-left: transparent;
            border-bottom: transparent;
            position: absolute;
            top:0;
            right: 0;
          }
          .lb{
            box-shadow: 1px -1px 1px #89bad6 inset;
            border-right: transparent;
            border-top: transparent;
            position: absolute;
            bottom:0;
            left: 0;
          }
          .rb{
            box-shadow: -1px -1px 1px #89bad6 inset;
            border-left: transparent;
            border-top: transparent;
            position: absolute;
            bottom:0;
            right: 0;
          }
        }
      }
      .content{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top:80px;
        .m-box{
          @box-color: #0955a0;
          position: relative;
          background: rgba(0, 31, 129, 0.1);
          border: 2px solid #142f58;
          .m-title{
            width: 100%;
            border: 2px solid @border-color;
            background: #0a1e53;
            height: 40px;
            line-height: 36px;
            letter-spacing: 4px;
            color: #fff;
            text-shadow: 0 0 5px #fff;
            padding-left: 35px;
            box-sizing: border-box;
            font-size: 16px;
            position: relative;
            i{
              display: block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: #dfdfdf;
              position: absolute;
              left: 16px;
              top: 13px;
              box-shadow: 0 0 5px #fff;
            }
            i.blue{
              background: @blue;
              box-shadow: 0 0 5px @blue;
            }
            i.yellow{
              background: @yellow;
              box-shadow: 0 0 5px @yellow;
            }
            u{
              display: block;
              position: absolute;
              right: -2px;
              bottom: -2px;
              border-bottom: 20px solid #151433;
              border-left: 20px solid transparent;
              border-right: 0px solid transparent;
              span{
                display: block;
                position: absolute;
                background: @border-color;
                height: 27px;
                width: 2px;
                left: -11px;
                top: -4px;
                .transform(rotate(45deg));
              }
            }
          }
          .lt{
            position: absolute;
            top:-2px;
            left: -2px;
            border: 2px solid @box-color;
            width:12px;
            height: 12px;
            border-radius:3px 0 0 0;
            border-right: transparent;
            border-bottom: transparent;
          }
          .rt{
            position: absolute;
            top: -2px;
            right: -2px;
            border: 2px solid @box-color;
            width: 12px;
            height: 12px;
            border-radius: 0 3px 0 0;
            border-left: transparent;
            border-bottom: transparent;
          }
          .lb{
            position: absolute;
            bottom:-2px;
            left: -2px;
            border: 2px solid @box-color;
            width:12px;
            height: 12px;
            border-radius:0 0 0 3px;
            border-right: transparent;
            border-top: transparent;
          }
          .rb{
            position: absolute;
            bottom:-2px;
            right: -2px;
            border: 2px solid @box-color;
            width:12px;
            height: 12px;
            border-radius:0 0 3px 0;
            border-left: transparent;
            border-top: transparent;
          }
        }

        .count{
          width: 100%;
          font-size: 0;
          letter-spacing: 0;
          &>div{
            display: inline-block;
            margin: 0 0.5%;
            height: 180px;
            width: 22%;
            font-size: 16px;
          }
          .startTime{
            //min-width: 380px;
            .text-box{
              width: 100%;
              height: 100%;
              position: relative;
              i.icon-box{
                position: absolute;
                left: 35px;
                top: 40px;
                display: block;
                width: 80px;
                height: 80px;
                background: url("../../images/monitor/ks.png") no-repeat;
                background-size: contain;
              }
              p.title-box{
                position: absolute;
                color: #fff;
                text-shadow: 0 0 5px #fff;
                font-size: 18px;
                left: 130px;
                top: 35px;
                letter-spacing: 3px;
              }
              p.content-box{
                position: absolute;
                letter-spacing: 2px;
                font-size: 38px;
                color: @green;
                text-shadow: 0 0 5px @green;
                top: 95px;
                left: 130px;
              }
            }
          }
          .endTime{
            // min-width: 380px;
            .text-box{
              width: 100%;
              height: 100%;
              position: relative;
              i.icon-box{
                position: absolute;
                left: 35px;
                top: 50px;
                display: block;
                width: 80px;
                height: 80px;
                background: url("../../images/monitor/js.png") no-repeat;
                background-size: contain;
              }
              p.title-box{
                position: absolute;
                color: #fff;
                text-shadow: 0 0 5px #fff;
                font-size: 18px;
                left: 130px;
                top: 35px;
                letter-spacing: 3px;
              }
              p.content-box{
                position: absolute;
                letter-spacing: 2px;
                font-size: 38px;
                color: @red;
                text-shadow: 0 0 5px @red;
                top: 95px;
                left: 130px;
              }
            }
          }
          .dayNum{
            //  min-width: 380px;
            .text-box{
              width: 100%;
              height: 100%;
              position: relative;
              i.icon-box{
                position: absolute;
                left: 35px;
                top: 50px;
                display: block;
                width: 80px;
                height: 80px;
                background: url("../../images/monitor/sj.png") no-repeat;
                background-size: contain;
              }
              p.title-box{
                position: absolute;
                color: #fff;
                text-shadow: 0 0 5px #fff;
                font-size: 18px;
                left: 130px;
                top: 35px;
                letter-spacing: 3px;
              }
              p.content-box{
                position: absolute;
                letter-spacing: 2px;
                font-size: 38px;
                color: @yellow;
                text-shadow: 0 0 5px @yellow;
                top: 95px;
                left: 130px;
                span{
                  font-size: 30px;
                  position: relative;
                  top: -4px;
                  left: -6px;
                }
              }
            }
          }
          .progress{
            width: 29%;
            // min-width: 480px;
            .text-box{
              width: 100%;
              height: 100%;
              position: relative;
              i.icon-box{
                position: absolute;
                left: 35px;
                top: 50px;
                display: block;
                width: 80px;
                height: 80px;
                background: url("../../images/monitor/tj.png") no-repeat;
                background-size: contain;
              }
              p.title-box{
                position: absolute;
                color: #fff;
                text-shadow: 0 0 5px #fff;
                font-size: 18px;
                left: 130px;
                top: 35px;
                letter-spacing: 3px;
              }
              div.content-box{
                position: absolute;
                letter-spacing: 2px;
                font-size: 38px;
                color: #c898ff;
                text-shadow: 0 0 5px #c898ff;
                top: 95px;
                left: 130px;
                width: 70%;
                .pro-box{
                  width: 100%;
                  height:35px;
                  border: 1px solid @border-color;
                  background: #0a1e53;
                  .pro-bar{
                    .transtion(width 1s);
                    height: 100%;
                    box-shadow: 0 0 10px #349dc3;
                    background: -webkit-linear-gradient(right,#b831ff,#429aef);
                    background: -o-linear-gradient(right,#b831ff,#429aef);
                    background: -moz-linear-gradient(right,#b831ff,#429aef);
                    background: -mos-linear-gradient(right,#b831ff,#429aef);
                    background: linear-gradient(right,#b831ff,#429aef);

                  }
                }
                .pro-num{
                  position: absolute;
                  left: 64%;
                  top: -68px;
                }
                span{
                  font-size: 38px;
                  position: relative;
                  top: -4px;
                  left: -6px;
                }
              }
            }
          }

        }

        .danger{
          position: absolute;
          top:225px;
          left: 30px;
          bottom: 20px;
          width:760px;
          box-sizing: border-box;

          .text-box{
            width: 100%;
            height: 100%;
            position: relative;
            padding: 20px;
            box-sizing: border-box;

          }
          .main-box{
            position: absolute;
            top: 80px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            overflow: hidden;
            .danger-box{
              width: 100%;
              position: relative;
              .list-box{
                width: 100%;
                border-bottom: 1px solid @line-color;
                position: relative;
                min-height: 100px;
                padding-left: 20px;
                box-sizing: border-box;
                margin-bottom: 20px;
                padding-bottom: 20px;
                li{
                  white-space: pre-line;
                }
                .c-icon{
                  position: absolute;
                  left: 0;
                  top:0;
                  width: 80px;
                  text-align: center;
                  img {
                    width: 55%;
                  }
                }
                .c-title{
                  color: @blue;
                  font-size: 22px;
                  letter-spacing: 5px;
                  text-shadow: 0px 0px 4px @blue;
                  margin-bottom: 15px;
                }
                .c-content{
                  color: @font-color;
                  line-height: 22px;
                  font-size: 16px;
                  letter-spacing: 3px;
                }
              }
              .list-box:last-of-type{
                border-bottom: none;
              }
            }
          }

        }
        .safe{
          position: absolute;
          top:225px;
          left: 810px;
          bottom: 20px;
          right: 32px;

          .text-box{
            width: 100%;
            height: 100%;
            position: relative;
            padding: 20px;
            box-sizing: border-box;
          }
          .main-box{
            position: absolute;
            top: 80px;
            left: 0px;
            right: 0px;
            bottom: 20px;
            overflow: hidden;

            &>ul{
              width: 100%;
              padding:0 20px;
              box-sizing: border-box;
              position: relative;
              li{
                border: 2px solid @border-color;
                border-radius: 5px;
                min-height: 200px;
                color: #fff;
                letter-spacing: 3px;
                padding:15px 10px;
                position: relative;
                margin-bottom: 20px;
                .b-title{
                  color: @blue;
                  text-shadow: 0 0 5px @blue;
                  position: relative;
                  padding-left: 40px;
                  letter-spacing: 4px;
                  font-size: 15px;
                  i{
                    display: block;
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    background: @red;
                    position: absolute;
                    left: 16px;
                    top: 5px;
                    box-shadow: 0 0 10px @blue;
                  }
                }
                .b-content{
                  padding-left: 40px;
                  padding-right: 20px;
                  width: 100%;
                  box-sizing: border-box;
                  line-height: 24px;
                  margin-top: 10px;
                  margin-bottom: 20px;
                }
                .team{
                  width:60%;
                }
                .person{
                  position: absolute;
                  left: 60%;
                  top:0;
                  right: 0;
                  bottom: 0;
                  .check_person{
                    position: absolute;
                    top:15px;
                    left:0;
                    right:50%;
                    text-align: center;
                  }
                  .duty_person{
                    position: absolute;
                    top:15px;
                    left:50%;
                    right:0;
                    text-align: center;
                  }
                  .line{
                    width: 2px;
                    background: @border-color;
                    position: absolute;
                    left: 10px;
                    top:20px;
                    bottom: 20px;
                  }
                  .type{
                    font-size: 16px;
                    position: absolute;
                    width: 180px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 35px;
                    border: 2px solid @blue;
                    top: 50%;
                    left: 50%;
                    margin-left: -90px;
                    box-shadow: 0 0 10px @blue,0 0 35px #007a82  inset;
                  }

                }


                .type.green{
                  color: @green;
                  text-shadow: 0 0 5px @green;
                }
                .type.red{
                  color: @red;
                  text-shadow: 0 0 5px @red;
                }
                .type.yellow{
                  color: @yellow;
                  text-shadow: 0 0 5px @yellow;
                }
                .type.zs{
                  color: @zs;
                  text-shadow: 0 0 5px @zs;
                }
                .type.blue{
                  color: @blue;
                  text-shadow: 0 0 5px @blue;
                }
              }
              li:nth-of-type(2n){
                background: transparent;
              }
              .c-title{
                span{
                  font-size: 24px;
                  letter-spacing: 6px;
                  color: @blue !important;
                  text-shadow: 0 0 4px @blue !important;
                }
              }
            }
          }
        }


      }
    }

  }
  .m-null{
    position: absolute;
    color: #fff;
    left: 50%;
    top:50%;
    .transform(translate(-50%,-50%));
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 0 0 4px #fff;
  }
}

/* 美化滚动条*/
::-webkit-scrollbar-track{border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}
::-webkit-scrollbar-thumb{background-color:#bde6ff;border-radius: 1px;-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}
::-webkit-scrollbar{width: 4px;height: 8px;}
::-webkit-scrollbar-corner{background: transparent;}