#mapBox {
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  padding: 10px;
  display: none;
}
#mapBox #map {
  width: 100%;
  height: 100%;
  border: 1px solid #d4d4d4;
  margin: 5px 0;
}
#mapBox .searchCity {
  background: transparent;
  height: 30px;
  line-height: 0;
}
#mapBox input {
  height: 30px;
}
