<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="activeDatabaseInfo">
      <NewDatabaseInfo>
        <option name="database" value="zhcj_dev" />
        <option name="databaseType" value="MySql" />
        <option name="password" value="root" />
        <option name="url" value="localhost:3306" />
        <option name="userName" value="root" />
      </NewDatabaseInfo>
    </option>
    <option name="databaseInfos">
      <list>
        <NewDatabaseInfo>
          <option name="database" value="zhcj_dev" />
          <option name="databaseType" value="MySql" />
          <option name="password" value="root" />
          <option name="url" value="localhost:3306" />
          <option name="userName" value="root" />
        </NewDatabaseInfo>
      </list>
    </option>
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.escst.towerCrane.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.escst.towerCrane.vo" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="escst_platform-sharding" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="escst_platform-sharding">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.escst.towerCrane.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.escst.towerCrane.vo" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="com.escst.towerCrane.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="zhcj_dev:t_towercrane1">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TowercraneEntityDemo" />
                  <option name="moduleName" value="escst_platform-sharding" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="com.escst.towerCrane.mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>